
/* header logo and banner start */

@media (max-width: 375px) {
    .banner {
        
        margin-top: -99px;
        height: 236px!important;

        
    }
}

@media (max-width: 375px) {
    .about .container {
        padding: 0 15px;
    }

    .about .row.rev {
        flex-direction: column-reverse;
    }

    .about .col-xl-6.col-md-12 {
        width: 100%;
        padding: 0;
    }

    .about__right .images {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about__right .images img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        padding: 0 !important; /* remove any inline padding */
        margin-left: 0 !important; /* remove any inline margin */
    }

    .about .about__right .images .img1  {
        margin-right: 109px;
    }

    .about .about__right .images .img3  {
        width: 100px;
        height: 100px;
    }

    .about .about__right .images .img5  {
        margin-right: 31px!important;
        
        
    }


    .about .about__right .images .img2  {
        margin-top: -190px !important;
       
    }





    }


    .block-text {
        text-align: center;
        padding: 20px;
    }

    .block-text .sub-heading,
    .block-text .heading,
    .block-text p,
    .block-text .action-btn {
        margin: 0 auto;
        max-width: 100%;
    }

    .block-text .heading {
        font-size: 24px;
        line-height: 1.2;
    }

    .block-text .sub-heading {
        font-size: 18px;
        line-height: 1.2;
    }

    .block-text p {
        font-size: 14px;
        line-height: 1.4;
        margin-bottom: 10px;
    }

    .block-text .action-btn {
        font-size: 16px;
        padding: 10px 20px;
    }





@media (max-width: 375px) {
    .header__logo #site-logo{
        height: 38px;
        width: 57px;
    }
}
 

/* header logo and banner start */



/* custom button start */

/* Responsive styles for mobile devices */
@media (max-width: 375px) {
    .frame {
        margin: 10px 0;
    }

    .custom-btn {
        font-size: 14px;
        margin-left: 134px;
    }

    .custom-btn span:last-child {
        transform: translateX(-87%);
        
    }
}


/* custom button end */





/* footer start */

/* Mobile styles */
@media (max-width: 375px) {
    .main-footer-div {
        flex-direction: column;
        align-items: center;
    }

    html,
    body {
        width: 100%;
        overflow-x: hidden;

    }

   

    .main-footer-div>div {
        flex: 1 1 100%;
        margin: 5px 0;
        text-align: center;
    }

    .second-footer-div {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-about {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .second-footer-div>div {
        flex: 1 1 100%;
        margin: 5px 0;
    }

    .action-btn {

        font-size: 16px;
        padding: 8px 16px;
    }


    .my-footer .main-footer-div {
        padding: 34px;
    }

    .footer-hr {
        margin: 10px 0;
    }
}


/* footer end  */




/* Mobile styles packages start */


@media (max-width: 375px) {
    .pkgs-row {
        flex-direction: column;
        align-items: center;

    }




    .monster img {

        width: 100px;
        height: 100px;
        margin-top: 600px;
        margin-bottom: 60px;
    }

    /* .pkg-super-heading{
        margin-top: 400px;
    } */

    .pkg1 {
        flex: 1 1 100%;
        margin: 10px 0;
        margin-bottom: 20px;
    }

    .pkgheader,
    .pkgfooter {
        flex-direction: column;
        text-align: center;


    }


    .pkgheader{
       width: 312px!important;
    }

    .pkgheader .heading {
        margin-top: 25px;
        font-size: 18px;
    }

    .pkgheader .price {
        margin-top: -18px;
        font-size: 18px;
    }

    .pkg-i img {
        margin-top: -180PX;
        width: 70px;
        height: 70px;
    }

    .pkgheader .div,
    .pkgfooter .pkg-footer-links>div {
        margin-bottom: 10px;
    }

    .pkgbody p {
        font-size: 12px;
    }

    .my-pkg-btn {
        font-size: 16px;
        padding: 8px 16px;
    }

    .pkg-hr {
        margin: 10px 0;
    }
}

/* pkgs end  */




/* about start */

/* Mobile styles */
@media (max-width: 375px) {
    .block-text {
        padding: 15px;
        align-items: center;
        text-align: center;

    }


    .about .block-text {
        padding: 0px!important;
    }

    .sub-heading {
        font-size: 16px;
        margin-bottom: 8px;
        align-items: center;
    }

    .heading {
        font-size: 20px;
        margin-bottom: 16px;
        align-items: center;
    }

    .mb-17,
    .mb-26 {
        font-size: 14px;
        align-items: center;
    }

    .action-btn {
        font-size: 14px;
        padding: 8px 16px;
        align-items: center;
    }
}


/* about end  */


/* testimonial start */

/* Mobile styles */
@media (max-width: 375px) {
    .testimonial {
        flex-direction: column;
        align-items: center;

    }

    .testi-1,
    .testi-2,
    .testi-3,
    .testi-4 {
        width: 90%;
        margin-bottom: 20px;
    }

    .sub-heading {
        font-size: 16px;
    }

    .heading {
        font-size: 20px;
    }

    .testi-para {
        font-size: 14px;
    }

    h5,
    .testi-heading {
        font-size: 16px;
    }
}



/* testimonial end */





/* Mobile styles */
@media (max-width: 375px) {
    .happy-boy img {

        width: 100px;
        height: 100px;
    }
}


@media (max-width: 375px) {
    .super-heading-portfolio {
        margin-top: 100px
    }
}









/*home services responsivnes */


@media (max-width: 375px) {
    .banner.s2 .container {
        padding: 15px;
    }

    .banner.s2 .block-text.center {
        text-align: center;
        margin-bottom: 20px;
    }

    .banner.s2 .block-text h6.sub-heading,
    .banner.s2 .block-text h2.heading,
    .banner.s2 .block-text p {
        font-size: 14px;
        line-height: 1.4;
    }

    .banner.s2 .swiper.bannerSwiper {
        width: 100%;
    }

    .banner.s2 .swiper-slide {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        
    }

    .banner.s2 .card-box {

        width: 100%;
        height: 160px;
        

        
    }

    .banner.s2 .card-box .top {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .banner.s2 .card-box .top .price {
        font-size: 14px;
    }

    .banner.s2 .card-box .content .image img {
        width: 100%;
        height: auto;
    }

    .banner.s2 .swiper-button-next.s1,
    .banner.s2 .swiper-button-prev.s1 {
        display: none;
    }
}


/* home services responsive end */


/* super heros */

@media (max-width: 375px) {
    .super-hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        margin-top: 150px;
        

    }

    .super-hero img {
        max-width: 100%;
        height: auto;
        

    }


    .super-hero .super-hero2 {
        margin-top: -30px;
        margin-right: 100px;

    }


    .super-hero .super-hero2 {
        order: 1;

    }
}

/* super heros end */



/* 3D page responsive Start*/

@media (max-width: 375px) {
    .create__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 15px;
    }

    .create__main .content {
        margin-bottom: 15px;
        padding: 0;
    }

    .create__main img {
        max-width: 100%;
        height: auto;
    }
}


@media (max-width: 375px) {
    .about .container {
        padding: 15px;
    }

    .about .row.rev {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .about__right .images {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about__right .images img {
        max-width: 100%;
        height: auto;
        margin-bottom: 15px;
    }

    .about__right .images .img2 {
        margin-top: -200px;
    }

    .about__right .images .img3 {
        margin-left: 30px;
        margin-top: 30px!important;
        
    }



    .block-text {
        text-align: center;
    }

    .block-text h3 {
        font-size: 1.5em;
    }

    .block-text p.d-designing-para {
        margin-bottom: 15px;
    }

    .action-btn {
        display: inline-block;
        margin-top: 15px;
    }
}



@media (max-width: 375px) {
    .team .container {
        padding: 15px;
    }

    .team .block-text.center {
        text-align: center;
        margin-bottom: 20px;
    }

    .team .swiper.team-swiper {
        width: 100%;
    }

    .team .swiper-slide {
        display: flex;
        justify-content: center;
    }

    .team .team-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }

    .team .team-box .image {
        width: 100%;
        max-width: 229px;
    }

    .team .team-box .image iframe {
        width: 100%;
        height: auto;
    }

    .team .swiper-button-next,
    .team .swiper-button-prev {
        display: none;
    }
}


/* 3D page responsive End*/


@media (max-width: 375px) {
    .portfolio .portfolio__right .image img {
        width: 270px !important;
        height: 270px !important;
        margin-left: 50px;

    }
}




@media (max-width: 375px) {
    .portfolio .portfolio__right .image img {
        width: 270px !important;
        height: 270px !important;
        margin-left: 50px;

    }
}


/* abouts page pix */
.about-element-pics {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

.about-element-pics img {
    width: 100%;
    max-width: 250px;
    height: auto;
}

/* Responsive styles for mobile devices */
@media (max-width: 375px) {
    .about-element-pics {
        flex-direction: column;
    }

    .about-element-pics .img2 {
        flex-direction: column;
        align-items: center;
        text-align: center;

    }
}



/* Tablet responsive Start */

/* about section start */


@media (max-width: 768px) {
    .banner {
        height: 478px;
        background-position: top;
        padding: 0 20px;
    }
}


@media (max-width: 768px) {
    .about .row {
        flex-direction: column;
    }
    
    .about .col-xl-6, .about .col-md-12 {
        width: 100%;
        padding: 10px;
    }


    .about .about__right {
        padding-left: 110px;

    }

    .about .about__right .images .img2 
    {

        margin-top: -150px!important;
    }
    .about .about__right .images .img3
    {
        margin-left: -60px;
    }


    .about .about__right .images .img5 {
      margin-right: -140px;
    }

    .heading {
        font-size: 28px;
        align-items: center;
        text-align: center;
    }

 

   
}



@media (max-width: 768px) {
    .about .row {
        flex-direction: column;
    }

    .about .block-text {
        text-align: center;
        padding: 20px 0;
    }

    .about .images {
        justify-content: center;
        align-items: center;
    }

    .about .images .img1,
    .about .images .img2,
    .about .images .img3,
    .about .images .img5 {
        width: 100%;
        max-width: 300px;
        margin: 10px 0;
        padding-left: 0;
    }

    .about .block-text h3.heading {
        font-size: 28px;
    }

    .about .block-text p.mb-17,
    .about .block-text p.mb-26 {
        font-size: 14px;
    }

    .custom-btn{
    margin-left: 283px;
}
}


/* about section end */


/* footer start */



@media (max-width: 768px) {
    html,
    body {
        width: 100%;
        overflow-x: hidden;

    }
    .main-footer-div {
       gap: 20px;
    }

    .my-footer .main-footer-div{
        padding: 35px;
    }

    .second-footer-div .div-1{
        padding-left: 20px;
    }
    .second-footer-div .div-2{
        padding-left: 30px;
    }
    .second-footer-div .div-3 {
        padding-right: 20px;
        
    }


    .second-footer-div .div-2 p {
        width: 300px;
        font-size: 25px;
        margin-left: 18px;
        margin-top: 10px;
    }

    .my-footer h6 {
        font-size: 16px;
    }

    .my-footer p,
    .my-footer li,
    .my-footer a {
        font-size: 12px;
        
    }


    .services li a {
        line-height: 20px; 
    }

    .footer-hr {
        margin: 10px 0;
    }

    .copyright {
        font-size: 10px;
    }
}

/* footer end */










/* packages start */


@media (max-width: 768px) {
    .faq .block-text .heading {
        font-size: 24px;
        
    }

    .faq {
        margin-top: -100px;
    }

    .faq .block-text .sub-heading {
        font-size: 14px;
    }

    .faq .menu-tab {
        flex-direction: column;
        align-items: center;
    }

    .faq .menu-tab li {
        margin: 5px 0;
        width: 100%;
        text-align: center;
    }

    .faq .content-tab .content-inner {
        flex-direction: column;
    }

    .faq .pkgs-row {
        flex-direction: column;
        align-items: center;
    }

    .faq .pkg1 {
        width: 90%;
        margin: 10px 0;
    }

    .faq .pkgheader .div {
        align-items: flex-start;
        
    }


    .pkgbody {
    text-align: center;
    }

    .pkgheader{
        width: 667px;
    }


   
    @media (max-width: 768px) {
        .monster img {
            margin-top: 555px;
        }
    }

    .faq .pkgfooter {
        flex-direction: column;
        align-items: flex-start;
    }

    .faq .pkg-footer-links {
        align-items: flex-start;
    }

    .faq .my-pkg-btn {
        width: 100%;
        text-align: center;
    }
}

/* packages end */



/* Super heros start */


@media (max-width: 768px) {
    .super-hero {
        margin-top: 200px;
    }

    .super-hero img {
        margin-top: 286px;
        padding-right: 50px;
    }
}

/* Super heros end */




/* Testimonial Start */

@media (max-width: 768px) {
    .testimonial {
        flex-direction: column;
        align-items: center;
    }

    .testimonial > div {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    .testimonial .testi-para {
        font-size: 14px; /* Adjust font size for smaller screens */
    }
}

/* Testimonial End */



/* portfolio start */

/* Media query for tablets (768px) */


@media (max-width: 768px) {
    .flexi-portfolio {
        flex-direction: column;
        align-items: center;
    }

    .project-item {
        width: 100%; /* Full width on tablets */
        max-width: 300px; /* Limit width for better readability */
    }
}


/* portfolio end */


/* Tablet page about Start */


@media (min-width: 768px) {
    .portfolio-box {
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
    }

    .portfolio-box .step {
        flex: 1;
        font-size: 1.25em;
        text-align: left;
        margin-bottom: 0;
    }

    .portfolio-box .icon {
        flex: 1;
        margin-right: 20px;
        margin-bottom: 0;
    }

    .portfolio-box .content {
        flex: 2;
    }

    .portfolio-box .content .title {
        font-size: 1.5em;
    }

    .portfolio-box .content p {
        font-size: 1.125em;
    }
}

/* Tablet page about End */


/* portfolio image Start */


@media (max-width: 768px) {
    .portfolio__right .image img {
        margin-top: 300px;
        width: 356px!important;
        
    }
}
/* portfolio image End */



/*Tablet call to action start */


@media (max-width: 768px) {
    .create__main {
        flex-direction: column;
        text-align: center;
    }

    .create__main .content {
        margin-bottom: 20px;
    }

    .create__main img {
        width: 50%;
        height: auto;
    }

    .create__main .content{
        padding: 32px 251px 34px 27px
    }
}

/* Tablet call to action End */


/* 
@media (max-width: 768px) {
    .touch__main {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .touch__main .info,
    .touch__main .form-box {
        width: 100%;
    }

    .touch__main .info .image img {
        width: 100%;
        height: auto;
    }

    .touch__main .form-box .row {
        flex-direction: column;
        gap: 10px;
    }

    .touch__main .form-box .row .col {
        width: 100%;
    }

    .info .list {
       
   padding-left: 200px;
      
    }

} */

/* all pragraph */

@media (max-width: 768px) {
    .about .block-text {
       padding-top: 125px;
    }

}

/* all paragraph end */

@media (max-width: 768px) {
    .portfolio__left {
        padding: 10px;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;
    }

    .portfolio-box {
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex: 1 1 100%;
    }

    .portfolio-box .step {
        margin-bottom: 10px;
    }

    .portfolio-box .icon {
        margin-bottom: 10px;
    }

    .portfolio-box .content h5 {
        margin-top: 0;
    }
}




/*  contact form*/


@media (max-width: 768px) {
    .touch__main .info {
        width: 100%;
        padding-left: 233px;
    }
}


/* Responsive for Tablet End*/






/* Responsive for Large Screen Start */


@media (min-width: 1920px) {
    .custom-btn {
        font-size: 1.5rem; /* Increase font size for large screens */
        padding:0px 350px; /* Increase padding for large screens */
        border-radius: 10px; /* Increase border radius for large screens */
    }


    .astron img{
        margin-bottom: 309px;
    }
}



/* Responsive for Large Screen End */